[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MSBStatsData"]
	path = MSBStatsData
	url = https://github.com/mchlbckr/msbstatsdata
[submodule "bunddev"]
	path = bunddev
	url = https://github.com/mchlbckr/bunddev
[submodule "exams2ilias"]
	path = exams2ilias
	url = https://github.com/mchlbckr/exams2ilias
[submodule "lcda"]
	path = lcda
	url = https://github.com/mchlbckr/lcda
