[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MSBStatsData"]
	path = MSBStatsData
	url = https://github.com/mchlbckr/msbstatsdata
[submodule "lcda"]
	path = lcda
	url = https://github.com/cran/lcda
